a[href] {
    text-decoration: none;
    color: inherit;
}

.list-users {
    margin-top: 60px;
}
.list-users .table {
    margin-top: 30px;
}

.create-user {
    margin-top: 60px;
}
.create-user .row {
    margin-top: 30px;
}
